.group
  =f.label :titel
  =f.error_message_on :titel
  =f.text_field :titel, :class => :text_field
  %span.description Name des Eintrags

.group
  =f.label :body
  =f.error_message_on :body
  ~f.text_area :body, :class => :text_area, :rows => '10'
  %span.description Text (des Blogeintrags)

.group
  =f.label :kategorie
  =f.error_message_on :kategorie
  =f.text_field :kategorie, :class => :text_field
  %span.description Kategorie

.group
  =f.label :oeffentlich
  =f.error_message_on :oeffentlich
  =f.check_box :oeffentlich, :class => :check_box
  %br
  %span.description oeffentlich = sichtbar

.group
  =f.label 'Spotlight?'
  =f.error_message_on :spotlight
  =f.check_box :spotlight, :class => :check_box 
  %br
  %span.description Wenn angekreuzt: "Im Rampenlicht"
  
#tweet.check
  =f.label 'Tweet erstellen?'
  =f.error_message_on :tweet
  %input{:type => 'checkbox', :id => 'tweetcheck', :onClick => 'change();'}
  %br
  =f.text_area :tweettext, :id => 'tweettext', :disabled => true, :rows => 3, :cols => 40

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:blogposts, :index)}';return false", :class => :button
