- @title = "Vorschlag machen"


-# Es muss noch ein Eintrag .suggest .text_field im application .css erstellt werden
-# Es muss noch ein Eintrag .suggest .text_area im application .css erstellt werden

#suggest
  %p Beschreibung:
  %p Machen sie doch Vorschlage usw...
  %p Bitte geben Sie ihre E-Mail an, damit wir Ihnen antworten k&ouml;nnen.
  
  %br
  
  %form{:action => url(:suggest, :send), :method => 'post'}
    %table
      %tr
        %td
          %p Betreff:
          =text_field_tag :betreff, :class => :text_field
        %td
          %p Ihre E-Mail-Adresse:
          =text_field_tag :absender, :class => :text_field2

    %p Ihre Nachricht:
    =text_area_tag :nachricht, :class => :text_area
    
    %br 
    =submit_tag "Absenden", :class => 'senden'
    

