- @title = "Vorschlag machen"

%br

-# Es muss noch ein Eintrag .suggest .text_field im application .css erstellt werden
-# Es muss noch ein Eintrag .suggest .text_area im application .css erstellt werden

#suggest
  .flash=[:notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
  .ueberschrift
    Vorschlag machen
  %br
  .beschreibung{:lang => 'de'}
    = simple_format($additional.vorschlag)
  
  %form{:action => url(:suggest, :send), :method => 'post'}
    %table
      %tr
        %td
          %h3 Betreff:
          =text_field_tag :betreff, :placeholder => "Betreff", :class => :text_field
        %td
          %h3 Ihre E-Mail-Adresse:
          =text_field_tag :absender, :placeholder => "E-Mail-Adresse", :class => :text_field2

    %h3 Ihre Nachricht:
    =text_area_tag :nachricht, :placeholder => "Nachricht...", :rows => '12',:class => :text_area
    
    %br 
    =submit_tag "Absenden", :class => 'btn-inverse'
    

