=javascript_include_tag('facebook.js')
.fb-like{"data-href" => "http://www.facebook.com/edelbiter", "data-layout" => "box_count", "data-send" => "true", "data-show-faces" => "true", "data-width" => "40"}