-if postliste.oeffentlich
  #chocolateListTable
    %tr
    %td= link_to postliste.kurztitel, url_for(:archive, :show, :id => postliste.id)
    %td= postliste.wertung
    %td= postliste.preis.to_s + ' EUR'