
- @title = "Startseite"

#show= partial 'schokolade/schokolade'
    
#social_media
  %table
    %tr
      %td#tweets
        %p Aktuelle Tweets:
        = partial 'schokolade/tweet', :collection => @tweets
      %td#facebook
        = partial 'schokolade/facebook'
        %br
        %p (Facebook)

-# Hier später die richtige Liste aller Schokoladen
#pagewrap
  #search
    %label{:for => "filter"} Filter
    %input#filter{:name => "filter", :type => "text", :value => ""}
  #body
    %table 
      %thead
        %tr
          %th Kurztitel
          %th Wertung
          %th Preis
      %tbody 
        %tr= partial 'schokolade/postliste', :collection => @posts
    

    =javascript_include_tag('application.js')
