
- @title = "Startseite"

#show= partial 'schokolade/schokolade'
    
#social_media
  %table
    %tr
      %td#tweets
        %p Aktuelle Tweets:
        = partial 'schokolade/tweet', :collection => @tweets
      %td#facebook
        %p Facebook:
        %p LIKE

-# Hier später die richtige Liste aller Schokoladen
#posts= partial 'schokolade/post', :collection => @posts