
- @title = "Startseite"

#show= partial 'schokolade/schokolade'
    
#social_media
  %p Aktuelle Tweets:
  %br
  %p=  @tweets

-# Hier später die richtige Liste aller Schokoladen
#posts= partial 'schokolade/post', :collection => @posts