.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:additionals, :index)
      %li.active=link_to pat(:new), url(:additionals, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:additional)
    .inner
      -form_for :additional, url(:additionals, :create), :class => :form do |f|
        =partial "additionals/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
