#block-text.block
  .content
    %h2.title Willkommen, Edelbiter
    .inner
      %p.first
        %br Es gibt folgende Datenbanken:
        %br Posts - Die Schokoladen
        %br Blogposts - Die Text-Blogeintr&auml;ge
        %br Accounts - Die Admin Accounts
        %br Abouts - Die Texte der &Uuml;ber-uns-Seite.
        %br Additionals - Andere Texte auf der Seite inkl. Impressum
      %p
      %hr
      %p
        Schooki!
        (Leckor)

-content_for :sidebar, partial("base/sidebar")
