.group
  =f.label :titel
  =f.error_message_on :titel
  =f.text_field :titel, :class => :text_field
  %span.description Ex: Vollstaendiger Titel

.group
  =f.label :body
  =f.error_message_on :body
  ~f.text_area :body, :class => :text_area
  %span.description Ex: Beschreibung

.group
  =f.label :wertung
  =f.error_message_on :wertung
  =f.text_field :wertung, :class => :text_field
  %span.description Ex: 10 1/3

.group
  =f.label :design
  =f.error_message_on :design
  =f.text_field :design, :class => :text_field
  %span.description Ex: 10 1/3

.group
  =f.label :hersteller
  =f.error_message_on :hersteller
  =f.text_field :hersteller, :class => :text_field
  %span.description Ex: Lindt

.group
  =f.label :kakaogehalt
  =f.error_message_on :kakaogehalt
  =f.text_field :kakaogehalt, :class => :text_field
  %span.description Ex: 70[ohne Prozentzeichen]

.group
  =f.label :anbaugebiet
  =f.error_message_on :anbaugebiet
  =f.text_field :anbaugebiet, :class => :text_field
  %span.description Ex: Ecuador

.group
  =f.label :bild
  =f.error_message_on :bild
  =f.text_field :bild, :class => :text_field
  %span.description NICHT FERTIG!

.group
  =f.label :fett
  =f.error_message_on :fett
  =f.text_field :fett, :class => :text_field
  %span.description Fettgehalt

.group
  =f.label :kohlenhydrate
  =f.error_message_on :kohlenhydrate
  =f.text_field :kohlenhydrate, :class => :text_field
  %span.description Kohlenhydrate

.group
  =f.label :zucker
  =f.error_message_on :zucker
  =f.text_field :zucker, :class => :text_field
  %span.description Zucker

.group
  =f.label :zutaten
  =f.error_message_on :zutaten
  =f.text_field :zutaten, :class => :text_field
  %span.description Zutat, Zutat, zutat, ..

.group
  =f.label :woher
  =f.error_message_on :woher
  =f.text_field :woher, :class => :text_field
  %span.description Wo erhaeltlich

.group
  =f.label :gewicht
  =f.error_message_on :gewicht
  =f.text_field :gewicht, :class => :text_field
  %span.description Packungsgewicht

.group
  =f.label :preis
  =f.error_message_on :preis
  =f.text_field :preis, :class => :text_field
  %span.description Ex: 5.34 [ohne Euro und Komma]

.group
  =f.label :datum
  =f.error_message_on :datum
  =f.text_field :datum, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :oeffentlich
  =f.error_message_on :oeffentlich
  =f.check_box :oeffentlich, :class => :check_box
  %span.description Ex: a simple text

.group
  =f.label :kurztitel
  =f.error_message_on :kurztitel
  =f.text_field :kurztitel, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:posts, :index)}';return false", :class => :button
