.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:posts, :index)
      %li=link_to pat(:new), url(:posts, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:posts)
    .inner
      %table.table
        %colgroup
          -# (zurzeit 9 Spalten)
          %col{:width => '5%'}
          %col{:width => '35%'}
          %col{:width => '8%'}
          %col{:width => '8%'}
          / %col{:width => '15%'} 
          / %col{:width => '8%'}
          %col{:width => '15%'}
          %col{:width => '8%'}
          %col{:width => '20%'}
        %tr
          %th.first=mat(:post, :id)
          -#%th=mat(:post, :titel)
          %th=mat(:post, :kurztitel)
          %th=mat(:post, :wertung)
          %th=mat(:post, :design)
          / %th=mat(:post, :hersteller)
          -#%th=mat(:post, :kakaogehalt)
          / %th=mat(:post, :bild)
          %th=mat(:post, :datum)
          %th=mat(:post, :oeffentlich)
          %th.last="&nbsp;"
        -@posts.each do |post|
          %tr
            %td.first=post.id
            -#%td=post.titel
            %td=post.kurztitel
            %td=post.wertung
            %td=post.design
            / %td=post.hersteller
            -#%td=post.kakaogehalt
            / %td=post.bild
            %td#datum=post.datum.strftime("%d-%m-%Y")
            %td=post.oeffentlich
            %td.last
              =button_to pat(:edit), url(:posts, :edit, :id => post.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:posts, :destroy, :id => post.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
