
- @title = "About Us"

- @abouts.each do |about|
  .About
    %img{:src => "/pictures/"+about.pic, :width => '650px', :height => '330px'}
    %br
    %p= about.title
    %br
    %br
    %p=about.body 

