
-#.post
-#  .kurztitel= link_to post.kurztitel, url_for(:archive, :show, :id => post.id)
  -# .datum= 'vor ' + time_ago_in_words(post.datum || Time.now)
  -# .body= simple_format(post.body)
   %td  Bild
   %td= .kurztitel= post.kurztitel
   %td= .wertung= post.wertung
   %td= .preis= post.preis

