Reihenfolge:
=f.radio_button :reihenfolge, :value => 0
Von oben nach unten
=f.radio_button :reihenfolge, :value => 1
Von unten nach oben
%br
Ansicht:
=f.radio_button :ansicht, :value => 0
Vollst&auml;ndig
=f.radio_button :ansicht, :value => 1
Als Liste
%br
Sortierung:
=f.select :sortierung, :options => [['nach Hersteller', 0], ['nach Preis', 1], ['nach Wertung', 2], ['nach Kakaogehalt', 3], ['nach Datum des Tests', 4]]
%br
Kategorie:
=f.select :kategorie, :options => [['Alle', 0], ['unter 70%', 1], ['70% bis 80%', 2], ['&Uuml;ber 80%', 3]]
%br
=f.submit
%br
%br
Anzahl Ergebnisse: 
= @posts.size