
- @title = "Schokoladen"

#pagewrap
  #search
    %label{:for => "filter"}
    %input#filter{:name => "filter", :placeholder => "Suche...", :type => "text", :value => ""}
  #body
    %table 
      %thead
        %tr
          %th Kurztitel
          %th Wertung
          %th Preis
      %tbody 
        %tr= partial 'schokolade/postliste', :collection => @posts



      // TUTORIAL:  -  http://net.tutsplus.com/tutorials/javascript-ajax/using-jquery-to-manipulate-and-filter-data/
      // Zebra-effekt nicht hinbekommen, muss man sich nochmal genauer angucken!!!

    =javascript_include_tag('application.js')

