
- @title = "Schokoladen"

.ueberschrift
  Suchen, finden & genie&szlig;en:
%br
-form_for @auswahl, url(:archive, :index) do |f|
  #suche= partial 'archive/suche', :locals => { :f => f }
%br
- if @auswahl.ansicht == 1
  #body
    #postliste
      %table
        %thead
          %tr
            %th.sortable-text Kurztitel
            %th.sortable-numeric Wertung
            %th.sortable-numeric Preis
        %tbody
          %tr= partial 'schokolade/postliste', :collection => @posts
  =javascript_include_tag('tablesort.js')
- if @auswahl.ansicht == 0
  #main
    #show= partial 'archive/schokolade', :collection => @posts
  %br
  %br
= partial 'archive/seitenzahl'