.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:blogposts, :index)
      %li=link_to pat(:new), url(:blogposts, :new)
      %li.active=link_to pat(:edit), url(:blogposts, :edit, :id => @blogpost.id)
  .content
    %h2.title
      =pat(:edit)+':'
      =mt(:blogpost)
    .inner
      -form_for :blogpost, url(:blogposts, :update, :id => @blogpost.id), :method => :put, :class => :form do |f|
        =partial "blogposts/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
