.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:blogposts, :index)
      %li=link_to pat(:new), url(:blogposts, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:blogposts)
    .inner
      %table.table
        %colgroup
          %col{:width => '10%'}
          %col{:width => '40%'}
          %col{:width => '20%'}
          %col{:width => '10%'}
          %col{:width => '20%'}
        %tr
          %th.first=mat(:blogpost, :id)
          %th=mat(:blogpost, :titel)
          %th=mat(:blogpost, :datum)
          %th=mat(:blogpost, :oeffentlich)
          %th.last="&nbsp;"
        -@blogposts.each do |blogpost|
          %tr
            %td.first=blogpost.id
            %td=blogpost.titel
            %td#datum=blogpost.datum.strftime("%d-%m-%Y")
            %td=blogpost.oeffentlich
            %td.last
              =button_to pat(:edit), url(:blogposts, :edit, :id => blogpost.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:blogposts, :destroy, :id => blogpost.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
