.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:blogposts, :index)
      %li.active=link_to pat(:new), url(:blogposts, :new)
  .content
    %h2.title
      =pat(:new)+'er'
      =mt(:blogpost)
    .inner
      -form_for :blogpost, url(:blogposts, :create), :class => :form do |f|
        =partial "blogposts/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
