#bonus
  .bild
    = link_to image_tag("/pictures/"+bonus.bild, :width => '280px', :height => '165px'),  url_for(:archive, :show, :id => bonus.id)
  .titel= link_to bonus.titel.upcase, url_for(:archive, :show, :id => bonus.id)