- @title = @post.kurztitel
%br
#show= partial 'schokolade/schokolade'

- if @bonus.size >= 1
  .trennornament
  .ueberschrift
    Andere Schokoladen von
    = @post.hersteller
    =':'
%br
  = partial 'schokolade/bonus', :collection => @bonus
%br
%br
.impressum= link_to 'Zur &Uuml;bersicht', url_for(:archive, :index)