.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :body
  =f.error_message_on :body
  ~f.text_area :body, :class => :text_area, :rows => '10'
  %span.description Ex: a simple text

.check
  =f.label 'Diese Version Aktivieren?'
  =f.error_message_on :oeffentlich
  =f.check_box :oeffentlich, :class => :check_box 
  %br



.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:abouts, :index)}';return false", :class => :button
