.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:abouts, :index)
      %li=link_to pat(:new), url(:abouts, :new)
      %li.active=link_to pat(:edit), url(:abouts, :edit, :id => @about.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:about)
    .inner
      -form_for :about, url(:abouts, :update, :id => @about.id), :method => :put, :class => :form do |f|
        =partial "abouts/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
