.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:abouts, :index)
      %li.active=link_to pat(:new), url(:abouts, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:about)
    .inner
      -form_for :about, url(:abouts, :create), :class => :form do |f|
        =partial "abouts/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
