#show
  .wertung
    - if @seite > 1
      = link_to 'zur&uuml;ck', url_for(:blog, :index, :seite => (@seite - 1))
    Seite
    = @seite
    von
    = @anzahlSeiten.to_i
    - if @seite < @anzahlSeiten
      = link_to 'weiter', url_for(:blog, :index, :seite => (@seite + 1))