
- @title = "Blog"

#kasten
  #suche
    .ueberschrift Lesenswerte Blogposts
    .aufzaehlung= partial 'blog/aufzaehlung', :collection => @aufzaehlung
%br
.post= partial 'blog/post', :collection => @blogposts

- if @anzahlErgebnisse > @postsJeSeite
  = partial 'blog/seitenzahl'