body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: #F5F5F5; }
  body a {
    color: #000; }
  body h2 {
    padding-bottom: 12px;
    font-weight: bold; }
  body h3 {
    padding-bottom: 10px; }
  body pre {
    display: block;
    border: 1px solid #DEDEDE;
    color: #444444;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 0.5em; }
  body ul.bulleted {
    margin-left: 20px;
    margin-bottom: 10px; }
    body ul.bulleted li {
      list-style-type: square; }
      body ul.bulleted li span {
        font-weight: bold; }

#container {
  width: 740px;
  margin: auto;
  display: block;
  padding: 40px;
  text-align:center;
  background-color:white;
  border-right:1px solid #E0E0E0;
  border-left:1px solid #E0E0E0;
  overflow: visible; }

#header {
  width: 100%;
  margin: auto;
  padding: 30px 0px 20px 0px;
  text-align:center;
  overflow: hidden; 
  }
  #header #homelink a{
     text-decoration:none;
     padding:0px;
 }
  #header #homelink a:hover{
     color: #C58380;
     padding:0px;
 }
  #header #homelink {
    color: #222;
    font-family:Bodoni MT, Didot,  Georgia, serif;
    font-size: 90pt;
    letter-spacing:0.01em;
    padding:0px;
    margin-bottom: 5px;
    /*letter-spacing:0.1em;*/
  }
  #header h2 {
    color: #222;
    font-family:Bodoni MT, Didot, Georgia, serif;
    font-size: 20pt; }
  
  #lautschrift {
    display: inline;
  }
  
  #subtitle {
    margin-left: 7px;
    display: inline;
    margin-bottom: 0px;
    letter-spacing: 1px;
  }
    
  #top_navigation ul {
    width:110%;
    padding-bottom: 30px;
    margin:auto;
    }
  #top_navigation ul li {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0; }
  #top_navigation ul li a {
    font-size: 11pt;
    width:150px;
    padding-left:1px;
    padding-bottom:1px;
    margin-right:52px;
    text-align: left;
    float: left;
    border-bottom:3px solid #000000;
    text-decoration: none;
    display: block;}
  #top_navigation ul li a:hover {
    border-bottom:3px solid #C58380;}
  #top_navigation ul li a.selected {
    border-bottom:3px solid #C58380;}
  
/*  #header .menu {
    width:110%;
    margin:auto;
    z-index: -1;
  }
  #header .menu td .link{
    font-size: 11pt;
    width:150px;
    padding-left:1px;
    padding-bottom:1px;
    border-bottom:3px solid #000000;
  }
  #header .menu td {
    width: 25%; 
  }  
  #header .menu td .link:hover{
    border-bottom:3px solid #C58380;
  }
  #header .menu td a {
    text-decoration:none;
    display: block;
  }
*/

#main {
  text-align:left;
  padding-top: 20px; }
  #main h2 {
    text-align:left;
    font-size: 2.1em; }
  #main .post {
    margin-bottom: 35px;
    margin-top: 25px}
    #main .post p {
      padding-bottom: 0px;
      }
    #main .post .kurztitel {
      font-family: Bodoni MT, Georgia,Times New Roman, serif;
      font-size: 20pt;
      color: #752A26; }
      #main .post .kurztitel a {
        color: #752A26;
        text-decoration: none; }
        #main .post .kurztitel a:hover {
          text-decoration: underline; }
    #main .post .datum {
      font-size: 1.1em;
      color: #999999;
      display: block;
      margin-bottom: 15px;
      margin-top: 2px; }
    #main .post .body {
      padding-bottom: 10px; 
      line-height: 1.4em;
      -webkit-hyphens: auto;
         -moz-hyphens: auto;
              hyphens: auto;}
    #main .post .details {
      border-top: 1px solid #CCCCCC;
      margin-bottom: 0.25em;
      padding: 5px 0;
      overflow: hidden; }
      #main .post .details .author {
        float: left;
        padding-right: 5px;
        border-right: 1px solid #CCCCCC; }
 #main #show .bild {
    margin-bottom:20px;
    position:relative;
 }
 #main #show .bild span {
   position:absolute;
   display: block;
   width: 101%;
   height: 100%;
   top: -1px;
   left: -1px;
   background: url("/pictures/rahmen.png") no-repeat;
   background-size: 100%;
 }
  #main #show .titel {
    /* min-height:210px; */
    width:430px;
    font-family: Bodoni MT, Georgia,Times New Roman, serif;
    font-size: 24pt;
    text-align: left;
    font-weight:bold;
    float:left; }
  #main #show .titel a{
         text-decoration:none;
         padding:0px; }
  #main #show a:hover{
        color: grey;
        padding:0px; }
  #main #show #infokasten {
    float:right;
    width:200px;
    /* min-height: 200px; */
    padding: 0px 10px;
    margin-bottom: 10px;
    border-left: 1px solid #DDD;
    font-size:10pt;
    line-height:1.2em;
    color:#666;}
  #main #show #infokasten .kakao, .preis, .gewicht{
      padding-bottom:2px;
  } 
  #main #show #infokasten .naehrwert {
      text-align:right;
      font-style:oblique;}
  #main #show #infokasten .wert {
      text-align:left;
      font-style:oblique;
      padding-left:4px;}   
  #main #show #infokasten .zutaten, .wo, .anbaugebiet{
      font-style:oblique;
  }
  #main #show .body {
    clear:both;
    font-size: 14pt;
    font-family: Bodoni MT, Georgia,Times New Roman, serif;
    letter-spacing:0px;
    text-align:justify;
    text-justify: newspaper;
    text-indent: 20px;
    font-weight:lighter;
    color:#000;
    column-count:2;
    column-gap:1em;
    -moz-column-count:2;
    -moz-column-gap:1em;
    -webkit-column-count:2;
    -webkit-column-gap:1em;}
  #main #show .body p:first-child:first-letter {
    font-size:2.7em;
    display:block;
    float:left;
    margin: 12px 5px 5px 0px;
  }
  
 /*Trennlinien*/
 #main hr {
   margin:auto;
   width:100%;
   background:none;
 } 
 
.ellereverse {
  text-align:center;
  width:100%;
  padding:1px 0px;
  border:0px;
  border-bottom:3px solid #000;
  border-top:1px solid #000;
}
  
.elle {
  width:100%;
  padding:1px 0px;
  border:0px;
  border-top:3px solid #000;
  border-bottom:1px solid #000;
  background:none;
}
  
  /* Schokolade */
  #main #show .body p:first-child {
    text-indent:0px;  
  }
  #main #show .wertung {
    text-align:center;
    margin-bottom: 20px;
    font-size: 16pt;
    font-family: Bodoni MT, Georgia,Times New Roman, serif;
    font-style:oblique;
  }
  #main #show .wertung #zahl {
    font-size: 28pt;
  }
      

#social_media {
  padding: 15px 15px 20px 20px;
  margin: 40px 0px;
  height: auto;
  width: 94.5%;
  }
  #sidebar p {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 12px; }
    
#social_media .tweets {
  text-align:justify;
  font-style:oblique;
  padding-right:20px;
  width:27%;
  color:#444;
}

#social_media #facebook{
  width:110px;
  border-left:1px solid #EEE;
  padding-left:20px;
  text-align: center;
  vertical-align: top;
}

#social_media #fb_img {
  float:right;
}

#social_media table {
  margin-top:10px;
}

#posts  .post{
  margin: 10px 0px;
  padding:0px;
  clear:both;
}   

/* Ueber Uns css */  
    
#about h2 {
  font-family: "Bodoni MT, Didot, Georgia,Times New Roman,serif";
  font-size: 2em;
  color: #752A26; }
#about h3 {
  font-family: "Bodoni MT, Didot, Georgia,Times New Roman,serif";
  font-size: 1.5em;
  color: #752A26;
  padding-bottom: 6px; }
#about p {
  padding-bottom: 12px; }
  
/* Vorschlag css */  

#suggest {
  width:98%;
}
  
.ueberschrift {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  color: #000;  
  font-weight: bold;
  letter-spacing:-1px;
  }
#suggest h3 {
  font-family: "Bodoni MT, Didot, Georgia,Times New Roman,serif";
  font-size: 1.5em;
  color: #000;
  padding-bottom: 6px; }
#suggest p {
  padding-bottom: 12px; 
  font-family: "Bodoni MT, Didot, Georgia,Times New Roman,serif";
  font-size: 13pt;
}
  
#suggest table {
  width:100%;
} 
  
#suggest table, tr, td {
  margin:0px;
  padding:0px;
}
  
#suggest input.text_field{
  width: 90%; 
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 12pt;
  margin-bottom: 20px;}
  
#suggest input.text_field2{
  width: 100%; 
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 12pt;
  margin-bottom: 20px;}

#suggest textarea {
  width: 100%; 
  border: 1px solid #CCC;
  padding: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  margin-bottom: 20px;}

/* Footer */ 
  
#footer {
  margin-top: 20px;
  padding: 10px 10px 10px 10px; 
}  

#postliste {
  margin-top: 30px;
  margin-bottom: 40px;
}
#postliste th {
  font-weight: bold;
  padding-bottom: 5px;
}

} 
#search {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: none;
  text-align: center;
  margin-bottom:20px;
}
#search input{
  width: 80%;
  padding: 5px;
  border: 1px solid #CCC;
}
#body {
  font-size: 20px;
}

#suche {
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 1.5em;
  border: 1px solid black;
  padding: 10px;
}
#suche td {
  text-align: center;
  font-size: 13pt;
  width:340px;
}

#body table {
    background-color: white;
    -webkit-border-radius: 10px;
    width: 100%;
    padding: 0px;
    font-size: 12pt;
    }

  #body td{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #EEE;
  }
  #body th.sortable {
        color: #000;
        cursor: pointer;
        text-decoration: underline;
        border-bottom: 2px solid #AAA;
        padding-bottom: 3px;
      }
  #body th.sortable:hover { 
        color: black;
      }
  #body th.sorted-asc, th.sorted-desc  {
        color: black;
      }
  #body td {
        background-color: white;
        vertical-align:middle;
      }
  #body td.odd {
        background-color: #EEE;
        color: #000;
      }
  #body td.hovered {
        background-color: #EEE;
        color: #666;
      }
  #body td.kurztitel {
      }


/* Iconset (bootstrap)  */

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}