body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: #F5F5F5;
  background-image: url("/pictures/kachel.png");
  }
  body a {
    color: #000; }
  body h2 {
    padding-bottom: 12px;
    font-weight: bold; }
  body h3 {
    padding-bottom: 10px; }
  body pre {
    display: block;
    border: 1px solid #DEDEDE;
    color: #444444;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 0.5em; }
  body ul.bulleted {
    margin-left: 20px;
    margin-bottom: 10px; }
    body ul.bulleted li {
      list-style-type: square; }
      body ul.bulleted li span {
        font-weight: bold; }

#container {
  width: 740px;
  margin: auto;
  display: block;
  padding: 40px;
  text-align:center;
  background-color:white;
  border-right:1px solid #E0E0E0;
  border-left:1px solid #E0E0E0;
  overflow: visible; }

#header {
  width: 100%;
  margin: auto;
  text-align:center;
  overflow: visible; 
  }
/*  #header #homelink a{
     text-decoration:none;
     padding:0px;
     display: block;
     width: 700px;
     height: 70px;
     left: 200px;
     top: 115px;
     z-index: 5;
     position: absolute;
 }*/
 #header .titellink {
   position: relative;
   z-index: 3;
   display: block;
   width: 600px;
   height: 60px;
   left: 60px;
   top: -5px;
   margin-bottom: -65px;
 }
 #header .titelbild {
     position: relative;
     display: block;
     z-index: 1;
     font-size: 70pt;
     letter-spacing: 200px;
     margin-bottom: -60px;
     width: 730px;
     height: 200px;
     left: 0px;
     top: -25px;
     background: url("/pictures/slick.png") no-repeat;
     background-size: 100%;
 }
  #header #homelink a:hover{
     color: #b4a06d;
     padding:0px;
 }
  #header #homelink {
    color: #222;
    font-family:Bodoni MT, Didot,  Georgia, serif;
    font-size: 50pt;
    letter-spacing:0.01em;
    padding:0px;
    margin-bottom: 0px;
  }
  #header {
    color: #222;
    font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
    font-size: 12pt;
    letter-spacing: 1px;
  }
  
  #subtitle {
    text-align: center;
    margin-bottom: 0px;
  }
  
  #top_navigation ul {
  
    font-family: 'Novecentowide-normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
    width:110%;
    padding-bottom: 50px;
    margin-top: 10px;
    margin:auto;
    }
  #top_navigation ul li {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0; }
  #top_navigation ul li a {
    font-size: 11pt;
    width:150px;
    padding-left:1px;
    padding-bottom:2px;
    margin-right:45px;
    text-align: left;
    float: left;
    border-bottom:3px solid #000000;
    text-decoration: none;
    display: block;}
  #top_navigation ul li a:hover {
    border-bottom:3px solid #b4a06d;
    color: black;
    padding-left:1px;
    padding-bottom:2px;}
  #top_navigation ul li a.selected {
    border-bottom:3px solid #b4a06d;}

#main {
  text-align:left;
  padding-top: 20px; }
  #main h2 {
    text-align:left;
    font-size: 2.1em; }
  #main .post {
    margin-bottom: 35px;
    margin-top: 25px}
    #main .post p {
      padding-bottom: 0px;
      }
    #main .post .kurztitel {
      font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 20pt;
      color: #b4a06d; }
      #main .post .kurztitel a {
        color: #b4a06d;
        text-decoration: none; }
        #main .post .kurztitel a:hover {
          text-decoration: underline; }
    #main .post .datum {
      font-size: 1.1em;
      color: #999999;
      font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
      display: block;
      margin-bottom: 15px;
      margin-top: 2px; }
    #main .post .body {
      font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
      padding-bottom: 10px; 
      line-height: 1.4em;
      -webkit-hyphens: auto;
         -moz-hyphens: auto;
              hyphens: auto;}
    #main .post .details {
      border-top: 1px solid #CCCCCC;
      margin-bottom: 0.25em;
      padding: 5px 0;
      overflow: hidden; }
      #main .post .details .author {
        float: left;
        padding-right: 5px;
        border-right: 1px solid #CCCCCC; }
 #main #show .bild {
    margin-bottom:5px;
    float:left;
    padding-right: 7px;
 }
 #main #show .bild .balken {
   border-top: 48px solid black;
   position: absolute;
   width: 560px;
   height: 18px;
   filter:alpha(opacity=70); 
   -moz-opacity:.70; 
   opacity:.70;
 }
 #main #show .bild .ueberschrift {
   position: absolute;
   font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 2em;
   color: #b4a06d;
   margin: 10px;
 }
 /*#main #show .bild span {
    position:absolute;
    display: block;
    width: 101%;
    height: 100%;
    top: -2px;
    left: 40px;
    background: url("/pictures/rahmen.png") no-repeat;
    background-size: 88%;
  } RAHMEN */
  
  #main #show .titel {
    width:100%;
    font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24pt;
    margin-bottom: 5px;
    line-height:1.2em;
    text-align: left;
    float:left; }
  #main #show .titel a{
         text-decoration:none;
         padding:0px; }
  #main #show a:hover{
        color: #b4a06d;
        padding:0px; }
  #main #show #infokasten {
    font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
    float:right;
    width: 163px;
    min-height: 330px;
    border-left: 2px solid #b4a06d;
    padding-left:8px;
    margin-bottom: 10px;
    font-size:10pt;
    line-height:2.3em;
    color:#b4a06d;}
  #main #show #infokasten table{
    width: 163px;
  }
  #main #show #infokasten td{
    border-top: 1px solid #b4a06d;
  }
  #main #show #infokasten .naehrwert {
      text-align:left;}
  #main #show #infokasten .wert {
      text-align:right;
      padding-left:4px;}
  #main #show #infokasten .zutaten {
    width: 163px;
    leine-height:1.2em;
    margin-top: -7px}
  #main #show #infokasten td .zutaten {
    leine-height:1.2em;
  }

  #main #show .body {
    clear:both;
    font-size: 12pt;
    font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
    letter-spacing:0px;
    text-align:justify;
    text-justify: newspaper;
    text-indent: 20px;
    color:#000;
    column-count:2;
        column-gap:1em;
        -moz-column-count:2;
        -moz-column-gap:1em;
        -webkit-column-count:2;
        -webkit-column-gap:1em;
    }
/*  #main #show .body p:first-child:first-letter {
    font-size:2.7em;
    display:block;
    float:left;
    margin: 12px 5px 5px 0px;
  }*/
  
 /*Trennlinien*/
 #main hr {
   margin:auto;
   width:100%;
   background:none;
 } 
 
.ellereverse {
  text-align:center;
  width:100%;
  padding:1px 0px;
  border:0px;
  border-bottom:3px solid #000;
  border-top:1px solid #000;
}
  
.elle {
  width:100%;
  padding:1px 0px;
  border:0px;
  border-top:3px solid #000;
  border-bottom:1px solid #000;
  background:none;
}
  
  /* Schokolade */
  #main #show .body p:first-child {
    text-indent:0px;  
  }
  #main #show .wertung {
    text-align:center;
    margin-bottom: 20px;
    font-size: 12pt;
    font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  }
  #main #show .wertung #zahl {
    font-size: 12pt;
  }
  
#social_media {
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  padding: 15px 15px 20px 20px;
  margin: 40px 0px;
  height: auto;
  width: 94.5%;
  }
  #sidebar p {
    padding-top: 10px;
    padding-bottom: 12px; }
    
#social_media .tweets {
  text-align:justify;
  padding-right:20px;
  width:27%;
  color:#444;
}

#social_media #facebook{
  width:110px;
  border-left:1px solid #EEE;
  padding-left:20px;
  text-align: center;
  vertical-align: top;
}

#social_media #fb_img {
  float:right;
}

#social_media table {
  margin-top:10px;
}

#posts  .post{
  margin: 10px 0px;
  padding:0px;
  clear:both;
}   

/* Ueber Uns css
   Wird #about überhaupt benutzt?
*/  
    
#about h2 {
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  font-size: 2em;
  color: #752A26; }
#about h3 {
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  font-size: 1.5em;
  color: #752A26;
  padding-bottom: 6px; }
#about p {
  padding-bottom: 12px; }

#about .titel {
  /* min-height:210px; */
  width:430px;
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  font-size: 24pt;
  text-align: left;
}
#about .titel a{
       text-decoration:none;
       padding:0px; }
#about a:hover{
      color: #b4a06d;
      padding:0px; }
  
/* Vorschlag css */  

#suggest {
  width:98%;
}
  
.ueberschrift {
  font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  color: #000;  
  }
#suggest h3 {
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  font-size: 1.5em;
  color: #000;
  padding-bottom: 6px; }
#suggest p {
  padding-bottom: 12px; 
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  font-size: 13pt;
}
  
#suggest table {
  width:100%;
} 
  
#suggest table, tr, td {
  margin:0px;
  padding:0px;
}
  
#suggest input.text_field{
  width: 90%; 
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 12pt;
  margin-bottom: 20px;}
  
#suggest input.text_field2{
  width: 100%; 
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 12pt;
  margin-bottom: 20px;}

#suggest textarea {
  width: 100%; 
  border: 1px solid #CCC;
  padding: 5px;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  margin-bottom: 20px;}

/* Footer */ 
  
#footer {
  margin-top: 20px;
  padding: 10px 10px 10px 10px; 
}  

#postliste {
  margin-top: 30px;
  margin-bottom: 40px;
}
#postliste th {
  font-weight: bold;
  padding-bottom: 5px;
}




/*                    POSTLISTE                     */

#postliste table
        {
        width: auto;
        padding: 0;
        margin: 0 auto 1.5em auto;
        border-left: 1px solid #C1DAD7;
        border-collapse:collapse;
        }
#postliste .cs1
        {
        width:30em;
        }
#postliste .cs2
        {
        width:20em;
        }
#postliste .cs1 td,
#postliste .cs2 td,
#postliste #scientificNotation
        {
        text-align:right;
        }
#postliste caption
        {
        padding: 0 0 5px 0;
        margin:0 auto;
        width:auto;
        font:  13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-align: right;
        }
#postliste th
        {
        font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #4f6b72;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        border-top: 1px solid #C1DAD7;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        padding: 8px 12px 4px 12px;
        background: #CAE8EA url(../media/bg_header.jpg) no-repeat;
        vertical-align:middle;
        }
#postliste td.total
        {
        border-top: 0;
        border-left: 0;
        border-right: 1px solid #C1DAD7;
        background: none;
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }
#postliste th.sortable,
#postliste th.sortable-text,
#postliste th.sortable-date,
#postliste th.sortable-keep,
#postliste th.sortable-date-dmy,
#postliste th.sortable-numeric,
#postliste th.sortable-currency,
#postliste th.sortable-sortByTwelveHourTimestamp,
#postliste th.sortable-sortIPAddress,
#postliste th.sortable-sortEnglishLonghandDateFormat,
#postliste th.sortable-sortScientificNotation,
#postliste th.sortable-sortImage,
#postliste th.sortable-sortFileSize,
#postliste th.sortable-sortAlphaNumeric,
#postliste th.sortable-sortEnglishDateTime

        {
        cursor:pointer;
        background: #CAE8EA url() no-repeat;
        padding: 8px 12px 4px 16px;
        }
#postliste th.forwardSort
        {
        background:#CAE8EA url("../img/glyphicons_212_down_arrow") no-repeat 0 0;
        }
#postliste th.reverseSort
        {
        background:#CAE8EA url("../img/glyphicons_212_up_arrow") no-repeat 0 0;
        }
#postliste table thead th.forwardSort a,
#postliste table thead th.reverseSort a
        {
        color:#000;
        text-decoration:none;
        }

#postliste th a
        {
        text-decoration:none;
        color: #4f6b72;
        background:transparent;
        }
#postliste td a
        {
        text-decoration:none;
        color:#239;
        background:transparent;
        }
#postliste td img
        {
        margin:0 auto;
        border:3px solid #ddd;
        }
#postliste td a:hover
        {
        color:#a84444;
        border-bottom:1px dotted #a80000;
        background:transparent;
        }
#postliste td
        {
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        padding: 6px 12px 6px 12px;
        color: #4f6b72;
        }
#postliste td.lft
        {
        text-align:left;
        }
#postliste tr.alt
        {
        background: #F5FAFA;
        color: #797268;
        }

#search {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: none;
  text-align: center;
  margin-bottom:20px;
}
#search input{
  width: 80%;
  padding: 5px;
  border: 1px solid #CCC;
}
#body {
  font-size: 20px;
}

#suche {
  margin: 0 0 9px;
  padding: 0 3px 2px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
#suche td {
  text-align: center;
  font-size: 13pt;
  width: 75%;
}

#suche .alignright{
  text-align: right;
}

#body table {
    background-color: white;
    -webkit-border-radius: 10px;
    width: 100%;
    padding: 0px;
    font-size: 12pt;
    }

  #body td{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #EEE;
  }
  #body th.sortable {
        color: #000;
        cursor: pointer;
        text-decoration: underline;
        border-bottom: 2px solid #AAA;
        padding-bottom: 3px;
      }
  #body th.sortable:hover { 
        color: black;
      }
  #body th.sorted-asc, th.sorted-desc  {
        color: black;
      }
  #body td {
        background-color: white;
        vertical-align:middle;
      }
  #body td.odd {
        background-color: #EEE;
        color: #000;
      }
  #body td.hovered {
        background-color: #EEE;
        color: #666;
      }
  #body td.kurztitel {
      }