body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: #F5F5F5;
  background-image: url("/pictures/kachel.png");
  }
  body a {
    color: #000; }
  body h2 {
    padding-bottom: 12px;
    font-weight: bold; }
  body h3 {
    padding-bottom: 10px; }
  body pre {
    display: block;
    border: 1px solid #DEDEDE;
    color: #444444;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 0.5em; }
  body ul.bulleted {
    margin-left: 20px;
    margin-bottom: 10px; }
    body ul.bulleted li {
      list-style-type: square; }
      body ul.bulleted li span {
        font-weight: bold; }

#container {
  width: 740px;
  margin: auto;
  display: block;
  padding: 40px;
  text-align:center;
  background-color:white;
  border-right:1px solid #E0E0E0;
  border-left:1px solid #E0E0E0;
  overflow: visible; }

#header {
  width: 100%;
  margin: auto;
  text-align:center;
  overflow: visible; 
  }
/*  #header #homelink a{
     text-decoration:none;
     padding:0px;
     display: block;
     width: 700px;
     height: 70px;
     left: 200px;
     top: 115px;
     z-index: 5;
     position: absolute;
 }*/
 #header .titellink {
   position: relative;
   z-index: 3;
   display: block;
   width: 600px;
   height: 60px;
   left: 60px;
   top: -5px;
   margin-bottom: -60px;
 }
 #header .titelbild {
     position: relative;
     display: block;
     z-index: 1;
     margin-bottom: 0px;
     width: 600px;
     height: 70px;
     left: 60px;
     top: 0px;
     background: url("/pictures/titel.png") no-repeat;
     background-size: 100%;
 }
 #header .ornament {
     position: relative;
     display: block;
     z-index: 1;
     margin-bottom: -24px;
     width: 110px;
     height: 62px;
     left: 319px;
     top: 1px;
     background: url("/pictures/Kakaofrucht2.png") no-repeat;
     background-size: 100%;
 }

  #header #homelink a:hover{
     color: #b4a06d;
     padding:0px;
 }
  #header #homelink {
    color: #222;
    font-family:Bodoni MT, Didot,  Georgia, serif;
    font-size: 50pt;
    letter-spacing:0.01em;
    padding:0px;
    margin-bottom: 0px;
  }
  #header {
    color: #222;
    font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
    font-size: 12pt;
    letter-spacing: 1px;
  }
  
  #subtitle {
    text-align: center;
    font-family: 'Novecentowide-medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10px;
    
  }
  
  #top_navigation ul {
    font-family: 'Novecentowide-normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
    width:110%;
    padding-bottom: 40px;
    margin-top: 10px;
    margin:auto;
    }
  #top_navigation ul li {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0; }
  #top_navigation ul li a {
    font-size: 10pt;
    width:150px;
    padding-left:1px;
    padding-bottom:1px;
    margin-right:45px;
    text-align: left;
    float: left;
    border-bottom:2px solid #000000;
    text-decoration: none;
    display: block;}
  #top_navigation ul li a:hover {
    border-bottom:2px solid #b4a06d;
    color: black;
    padding-left:1px;
    padding-bottom:1px;}
  #top_navigation ul li a.selected {
    border-bottom:2px solid #b4a06d;}

#main {
  text-align:left;
  padding-top: 20px; }
  #main h2 {
    text-align:left;
    font-size: 2.1em; }
  #main .post {
    margin-bottom: 20px;
    margin-top: 0px}
    #main .post p {
      padding-bottom: 0px;
      }
    #main .post .kurztitel {
      font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 24pt;
      line-height:1.3em;
      }
      #main .post .kurztitel a {
        color: #000;
        text-decoration: none; }
        #main .post .kurztitel a:hover {
          color: #b4a06d;
          text-decoration: none; }
    #main .post .datum {
      font-size: 1.1em;
      color: #999999;
      font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
      display: block;
      margin-bottom: 15px;
      margin-top: -5px; }
    #main .post .body {
      margin-bottom: 14px;
      font-size: 12pt;
      font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
      letter-spacing:0px;
      text-align:justify;
      text-justify: newspaper;
      text-indent: 20px;
      color:#000;
      padding-bottom: 10px; 
      line-height: 1.4em;
      -webkit-hyphens: auto;
         -moz-hyphens: auto;
              hyphens: auto;}
    #main .post .body p:first-child {
          text-indent:0px;  
      }
    #main .post .details {
      border-top: 1px solid #CCCCCC;
      margin-bottom: 0.25em;
      padding: 5px 0;
      overflow: hidden; }
      #main .post .details .author {
        float: left;
        padding-right: 5px;
        border-right: 1px solid #CCCCCC; }
 #main #show .bild {
    margin-bottom:12px;
    float:left;
    padding-right: 7px;
 }

 #main #show .bild .balken {
   border-top: 48px solid black;
   position: absolute;
   width: 560px;
   height: 18px;
   filter:alpha(opacity=70); 
   -moz-opacity:.70; 
   opacity:.70;

 }
 #main #show .bild .ueberschrift {
   position: absolute;
   font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 2em;
   color: #b4a06d;
   margin: 10px;
 }
 /*#main #show .bild span {
    position:absolute;
    display: block;
    width: 101%;
    height: 100%;
    top: -2px;
    left: 40px;
    background: url("/pictures/rahmen.png") no-repeat;
    background-size: 88%;
  } RAHMEN */
  
  #main #show .titel {
    width:100%;
    font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24pt;
    margin-bottom: 8px;
    line-height:1.3em;
    text-align: left;
    float:left; }
  #main #show .titel a{
         text-decoration:none;
         padding:0px; }
  #main #show a:hover{
        color: #b4a06d;
        padding:0px; }
  #main #show #infokasten {
    font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
    float:right;
    width: 163px;
    min-height: 330px;
    border-left: 2px solid #b4a06d;
    padding-left:8px;
    margin-bottom: 10px;
    font-size:10pt;
    color:#b4a06d;}
  #main #show #infokasten table{
    width: 163px;
    line-height:2.4em;
  }
  #main #show #infokasten td{
    border-top: 1px solid #b4a06d;
  }
  #main #show #infokasten .naehrwert {
      text-align:left;}
  #main #show #infokasten .wert {
      text-align:right;
      padding-left:4px;}
  #main #show #infokasten .zutaten {
    width: 163px;
    line-height:1.2em;
    margin-top: 3px;
    padding-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid #b4a06d;
    }
  #main #show #infokasten table .zutaten {
    text-align: right;
  }

  #main #show .body {
    clear:both;
    margin-bottom: 14px;
    font-size: 12pt;
    font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
    letter-spacing:0px;
    text-align:justify;
    text-justify: newspaper;
    text-indent: 20px;
    color:#000;
    column-count:2;
        column-gap:1.1em;
        -moz-column-count:2;
        -moz-column-gap:1.1em;
        -webkit-column-count:2;
        -webkit-column-gap:1.1em;
    }
/*  #main #show .body p:first-child:first-letter {
    font-size:2.7em;
    display:block;
    float:left;
    margin: 12px 5px 5px 0px;
  }*/
  
 /*Trennlinien*/
 #main hr {
   margin:auto;
   width:100%;
   background:none;
 } 
 
.ellereverse {
  text-align:center;
  width:100%;
  padding:1px 0px;
  border:0px;
  border-bottom:3px solid #000;
  border-top:1px solid #000;
}
  
.elle {
  width:100%;
  padding:1px 0px;
  border:0px;
  border-top:3px solid #000;
  border-bottom:1px solid #000;
  background:none;
}
.trennornament {
    position: relative;
    display: block;
    z-index: 1;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 200px;
    height: 50px;
    left: 272px;
    top: 0px;
    background: url("/pictures/trennornament.png") no-repeat;
    background-size: 100%;
}
  
  /* Schokolade */
  #main #show .body p:first-child {
    text-indent:0px;  
  }
  #main #show .wertung {
    text-align:center;
    margin-bottom: 30px;
    font-size: 12pt;
    font-family: 'Novecentowide-medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  #main #show .wertung #zahl {
    font-size: 12pt;
  }
  
#social_media {
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  padding: 15px 15px 20px 20px;
  margin: 5px auto;
  height: auto;
  width: 95%;
  overflow: visible;
  }

#sidebar p {
  padding-top: 10px;
  padding-bottom: 12px; }
    
#social_media .tweets {
  text-align:justify;
  margin-left: -18px;
  margin-right: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b4a06d;
  width:575px;
  font-size: 12pt;
  line-height: 1.4em;
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  letter-spacing:0px;
  color:#000;
  float:left;
}
#social_media .tweets .datum{
  font-family: 'Novecentowide-medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  margin-bottom: -3px;
  color:#b4a06d;
  margin-top: -9px;
  float: right;
  display: block;
}

#social_media #facebook{
  vertical-align: middle;
  width:110px;
  border-left: 2px solid #b4a06d;
  padding-left:15px;
  padding-top: 10px;
  text-align: center;
  vertical-align: top;
}

#social_media #fb_img {
  float:right;
}

#social_media table {
  margin-top:15px;
}

#posts  .post{
  margin: 10px 0px;
  padding:0px;
  clear:both;
}   


#about {
  width: 94%;
  margin: auto;
}
#about .body {
  padding-bottom: 12px;
  line-height: 1.4em;
  font-size: 12pt;
  text-indent: 20px;
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  letter-spacing:0px;
  margin-bottom:20px;
  }
  #about .body p:first-child {
        text-indent:0px;  
    }
#about .titel {
  margin-bottom: 10px;
  font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18pt;
  text-align: left;
}
#about img{
  float: right;
  padding: 10px;
  margin: 20px 0px 8px 10px;
  border: 2px solid #000;
}
#about .impressum{
  left: 795px;
  position: absolute;
  width:100px;
}
  
/* Vorschlag css */  

#suggest {
  width:94%;
  margin:auto;
}
  
.ueberschrift {
  font-family: 'Novecentowide-Normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18pt;
  color: #000;
  margin-top: 8px;
  margin-bottom: 10px;
  }
#suggest h3 {
  font-family: 'Novecentowide-medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11pt;
  color: #000;
  padding-bottom: 6px; }
#suggest .beschreibung {
   line-height: 1.4em;
   font-size: 12pt;
   text-indent: 20px;
   font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
   letter-spacing:0px;
   margin-bottom:40px;
}
#suggest .beschreibung p:first-child {
      text-indent:0px;  
  }
#suggest table {
  width:550px;
} 
  
#suggest table td {
  padding-right: 8px;
}
  
#suggest input.text_field{
  width: 325px;
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 10pt;
  margin-bottom: 20px;}
  
#suggest input.text_field2{
  width: 205px; 
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 10pt;
  margin-bottom: 20px;}

#suggest textarea {
  width: 550px; 
  border: 1px solid #CCC;
  padding: 5px;
  font-size: 10pt;
  margin-bottom: 20px;}

/* Footer */ 
  
#footer {
  margin-top: 35px;
  margin-bottom: 30px;
}

.impressum, .impressum a {
  font-size: 9pt;
  font-family: 'Novecentowide-medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #b4a06d;
}

.kakaofrucht {
    position: relative;
    display: block;
    z-index: 1;
    margin-bottom: 0px;
    width: 75px;
    height: 40px;
    left: 340px;
    top: 0px;
    background: url("/pictures/kakaofrucht.png") no-repeat;
    background-size: 100%;
}

#postliste {
  margin-top: 30px;
  margin-bottom: 40px;
}
#postliste th {
  padding-bottom: 5px;
}


/*                    POSTLISTE                     */

#postliste table
        {
        width: auto;
        padding: 0;
        margin: 0 auto 1.5em auto;
        }
#postliste .cs1
        {
        width:30em;
        }
#postliste .cs2
        {
        width:20em;
        }
#postliste .cs1 td,
#postliste .cs2 td,
#postliste #scientificNotation
        {
        text-align:right;
        }
#postliste th
        {
        font-family: 'Novecentowide-medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: black;
        font-size: 12pt;
        text-align: left;
        padding: 5px 12px 5px 12px;
        vertical-align:middle;
        }
#postliste td.total
        {
        border-top: 0;
        border-left: 0;
        border: 1px solid;
        background: none;
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }
#postliste th.sortable,
#postliste th.sortable-text,
#postliste th.sortable-date,
#postliste th.sortable-keep,
#postliste th.sortable-date-dmy,
#postliste th.sortable-numeric,
#postliste th.sortable-currency,
#postliste th.sortable-sortByTwelveHourTimestamp,
#postliste th.sortable-sortIPAddress,
#postliste th.sortable-sortEnglishLonghandDateFormat,
#postliste th.sortable-sortScientificNotation,
#postliste th.sortable-sortImage,
#postliste th.sortable-sortFileSize,
#postliste th.sortable-sortAlphaNumeric,
#postliste th.sortable-sortEnglishDateTime

        {
        padding: 8px 12px 4px 16px;
        }
#postliste th.forwardSort
        {

        }
#postliste th.reverseSort
        {

        }
#postliste table thead th.forwardSort a,
#postliste table thead th.reverseSort a
        {
        color:#000;
        text-decoration:none;
        }

#postliste th a
        {
        text-decoration:none;
        color: #000;
        background:transparent;
        }
#postliste td a
        {
        text-decoration:none;
        color:#000;
        background:transparent;
        }
#postliste td img
        {
        margin:0 auto;
        border:3px solid #ddd;
        }
#postliste td a:hover
        {
        color: #b4a06d;
        }
#postliste td
        {
        font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
        font-size: 14pt;
        color: #000;
        }
#postliste td.lft
        {
          
        }
#postliste tr.alt
        {
        color: #b4a06d;
        }

#search {
  font-family: 'Novecentowide-medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: none;
  text-align: center;
  margin-bottom:20px;
}
#search input{
  width: 200px;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #CCC;
}
#body {
  font-size: 20px;
}
#kasten{
  border: 3px solid #b4a06d;
  padding: 2px;
  width:94%;
  margin: 0 auto 14px auto;
}
#suche {
  padding: 0 3px 2px;
  font-family: 'Novecentowide-normal', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  color: #000;
  display: block;
  border: 1px solid #b4a06d;
  /*background: #ddd;*/
  background-image: url("/pictures/kachel.png");
/*  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;*/
  text-align: center;
}
#suche td {
  text-align: center;
  font-size: 10pt;
  width: 75%;
  vertical-align: middle;
  margin-top: 10px;
}

#suche img {
  position:absolute;
  top: 377px;
  border: 2px solid #b4a06d;
  background: #d4c08d;
  padding: 3px;
  height:20px;
  width:20px;
}
#suche .abstand {
  margin: 4px;
}

#suche .alignright{
  text-align: right;
}
#suche .aufzaehlung {
  padding: 0px 12px 5px 12px;
  font-size: 12pt;
  font-family: Baskerville, Baskerville Old Face,'OpenBaskerville0053Normal', Georgia,Times New Roman, serif;
  letter-spacing:0px;
  text-align:left;
  color:#000;
  line-height: 1.4em;
  column-count:2;
  column-gap:1.1em;
      -moz-column-count:2;
      -moz-column-gap:1.1em;
      -webkit-column-count:2;
      -webkit-column-gap:1.1em;
}

#body table {
    background: none;
    -webkit-border-radius: 10px;
    width: 100%;
    padding: 0px;
    font-size: 12pt;
    }

  #body td{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #b4a06d;
    padding-left: 6px;
  }
  #body th.sortable {
        color: #000;
        cursor: pointer;
        border-bottom: 1px solid #b4a06d;
        padding-bottom: 5px;
        margin-bottom: 2px;
      }
  #body th.sortable:hover { 
        color: black;
      }
  #body th.sortable-numeric { 
        text-align: center;
        width: 115px;
        border-bottom: 1px solid #b4a06d;
      }
  #body th.sortable-text {
    border-bottom: 1px solid #b4a06d;
  }
  #body th.sorted-asc, th.sorted-desc  {
      color: black;
      }
  #body td {
      vertical-align:middle;
      }
  #body td.wertung{
      text-align: center;
  }
  #body td.odd {
      }
  #body td.hovered {
      }
  #body td.kurztitel {
      }
